/* iosなどのバウンススクロール時の上部のbackground-colorを変更 */
body::before {
  content: '';
  display: block;
  width: 100%;
  height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background-color: #ffedd5;
}
